* 
  margin: 0
  padding: 0
  border: 0   

html
  font-size: 18px

body
  font-family: "PT Sans", sans-serif

a
  text-decoration: none

.box
  width: 100%
  min-width: 940px
  overflow: hidden

.box_bg
  background: rgba(38, 169, 224, 0.05)

.circle-1
  position: absolute
  top: 11%

.circle-6
  position: absolute
  top: 73%
  right: 10%

.circle-3
  position: absolute
  top: 71%
  z-index: 2

.circle-2
  position: absolute
  top: 75%
  left: 60%
  z-index: 2

.circle-4
  position: absolute
  right: 0

.circle-7
  position: absolute
  top: 17%
  left: 10%

.circle-5
  position: absolute
  top: -30%
  left: 0

.container
  max-width: 1260px
  width: 100%
  box-sizing: border-box
  padding: 0 20px
  margin: 0 auto
  font-size: inherit

.blue
  color: #26A9E0

.title
  font-weight: bold
  font-size: 48px
  text-align: left
  margin-bottom: 40px

.text
  font-size: 24px
  line-height: 26px
  text-align: left
  margin-bottom: 40px

.text_accent
  font-weight: bold

.text_color
  color: rgba(0, 0, 0, 0.3)
  font-size: 16px

.text_center
  text-align: center

.text_right
  text-align: right

.content
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
.content_left
  position: relative
  width: 48%
.content_right
  position: relative
  width: 48%
.box_bg
  .content_left
    margin-right: 100px 
.image
  width: 100%

.button
  -webkit-border-radius: 8px
  border-radius: 8px
  background: #74489D
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  color: #FFFFFF
  font-size: 24px
  line-height: 28px
  text-align: center
  box-shadow: 0px 10px 20px rgba(116, 72, 157, 0.4)
  &:hover
    opacity: 0.9
.header
  background: #26A9E0
  color: #ffffff
  .container
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
.logo
  margin: 20px 40px 20px 0
.menu
  list-style: none
  border: none
  display: flex
  justify-content: flex-end
.menu-item
  height: 100%
  display: flex
  align-items: center
  margin-right: 20px
.menu-item:last-child
  margin-right: 0
.menu a
  color: inherit
  opacity: 0.6 
  text-decoration: none
  cursor: pointer
  height: 100%
  display: flex
  justify-content: center
  align-items: center 
.menu a:hover
  opacity: 1
.active a
  opacity: 1
  
.prime__title
  font-size: 72px
  line-height: 73px
.prime__text
  padding-right: 10px
  margin-bottom: 85px
.button
  width: 250px
  height: 80px
.img_box
  position: relative
  top: -70px
  z-index: -1

.first-step__image
  margin-top: 170px

.second-step
  position: relative
.second-step__image
    position: relative
    top: -70px

.third-step
  position: relative
.third-step__image
    margin: 117px 0 117px 0

.constructor
  position: relative
  a
    text-decoration: underline
    width: 220px
    &:hover
      text-decoration: none
  img
    display: block
    
.constructor__content
  margin: 90px 0
  flex-direction: column
  justify-content: center
.constructor__image
  position: absolute
  width: auto
  height: auto
  overflow: hidden

.constructor__text_color
  line-height: 19px
  text-align: center
.content_bottom
  display: flex
  flex-direction: row
  align-items: center
.img_container
  position: relative
  width: 560px
  height: 400px
  overflow: hidden
  margin: 0 30px
.controller_line
  width: 518px
  left: 25px
  top: 19px
.controller 
  position: relative
  width: auto
  height: auto
  margin: 0
  padding: 0
  cursor: ew-resize
.txt__phone
  display: none   

.books-icon 
  background-image: url(/ii/img/icons/books-sprite.png)
  background-repeat: no-repeat
  display: inline-block
  vertical-align: middle
  width: 22px
  height: 21px
  margin-right: 12px
.books-icon_white
  background-position: -5px -5px
/* FOOTER */
.footer
  margin-top: 25px
  padding-top: 35px
  background-color: #26a9e0
  font-size: 14px


.footer-wrap
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between


.footer-section
  width: 220px
  padding: 0 10px
  margin-bottom: 30px
  position: relative


.footer-section:first-child
  padding-left: 80px


.footer-section_subscribe
  padding: 0 10px
  width: 370px
  position: relative


.footer-section__title
  font-size: 16px
  font-weight: 700
  color: #fff
  margin: 0 0 10px


.footer-section__title .books-icon,.footer-section__title i
  vertical-align: bottom
  margin-right: 10px


.footer-list
  list-style: none
  padding: 7px 0 0
  margin: 0


.footer-list__item a
  font-size: 14px
  line-height: 18px
  text-decoration: none
  color: #fff


.footer__social .text
  display: inline-block
  margin: 0
  padding: 0
  color: #fff
  line-height: 40px
  vertical-align: top
  font-size: 14px


.footer__social .social__list
  display: inline-block
  width: 210px
  font-size: 0
  padding: 0
  margin: 0
  list-style: none


.footer__social .social__list a
  display: inline-block
  width: 100%
  height: 100%


.footer__social .social__list .social__btn
  margin: 0
  padding: 0
  cursor: pointer
  display: inline-block
  height: 40px
  width: 16.67%
  background-image: url(/ii/img/icons/social.png)
  background-repeat: no-repeat
  opacity: .5
  -webkit-transition: .2s
  transition: .2s


.footer__social .social__list .social__btn:hover
  opacity: 1
  -webkit-transition: .2s
  transition: .2s


.footer__social .social__list .social__btn.vk
  background-position: 15px 6px


.footer__social .social__list .social__btn.fb
  background-position: -34px 6px


.footer__social .social__list .social__btn.tw
  background-position: -78px 6px


.footer__social .social__list .social__btn.ok
  background-position: -123px 6px


.footer__social .social__list .social__btn.in
  background-position: -167px 6px


.footer__social .social__list .social__btn.yb
  background-position: -204px 6px


.pay-cards
  font-size: 0
  width: 380px


.pay-cards .text
  display: inline-block
  vertical-align: top
  padding: 0
  margin-top: 10px
  font-size: 14px
  color: #fff


.pay-cards .pay-cards__card,.pay-cards__logo
  display: inline-block
  height: 25px
  background-color: #fff


.pay-cards__logo
  vertical-align: middle


.pay-cards .pay-cards__card
  width: 40px
  margin: 5px 5px 0 0
  border-radius: 3px
  background-repeat: no-repeat
  background-position: 50%


.pay-cards .pay-cards__card_visa
  background-image: url(/ii/img/partners/visa-mini.png)
  margin-left: 15px


.pay-cards .pay-cards__card_mc
  background-image: url(/ii/img/partners/mc-mini.png)


.pay-cards .pay-cards__card_mir
  background-image: url(/ii/img/partners/mir-mini.png)

.subscribe-descr
  padding: 5px 0 0
  margin: 0
  color: #fff
  font-size: 14px
  line-height: 20px


.subscribe-form
  margin: 5px 0


.subscribe-form .btn_normal,
.subscribe__input
  padding: 0 10px
  box-sizing: border-box
  border: none
  border-radius: 3px
  font-size: 14px
  line-height: 35px


.subscribe-form .btn_normal
  display: inline-block
  margin-left: 5px
  background-color: #1b75bb
  color: #fff
  cursor: pointer


.subscribe__input
  width: 200px

.copyright
  padding-right: 20px
  padding-left: 80px
  margin-bottom: 25px
  width: 460px


.copyright .text
  padding: 0
  margin: 0
  font-size: 12px
  line-height: 14px
  color: rgba(255,255,255,.6)
    
/* END FOOTER */

@media screen and (max-width: 1550px)
  .circle-1, .circle-6, .circle-4, .circle-5, img.circle-7, .txt__phone
    display: none
    
@media screen and (max-width: 940px)
  .content_bottom
    flex-direction: column
  .txt__phone 
    display: flex
     
  .txt_screen
    display: none
  .text
    font-size: 24px
    line-height: 28px
  .title
    font-size: 43px
  .img_container
    margin: 0 15px
  .prime .title 
    font-size: 56px
    line-height: 64px
  .circle-2
    display: none
    
@media screen and (max-width: 650px)
  .text
    text-align: center
    font-size: 36px
    line-height: 44px
  .title  
    text-align: center
    font-size: 68px
    line-height: 78px
  .content
    flex-direction: column
  .content_right
    width: 90%
  .content_left
    width: 90%
  .img_box
    width: 100%
    top: 0
  .button
    width: 50%
    margin: 40px auto
  .circle-3
    display: none
    
  .header
    .container
      flex-direction: column
  .menu
    font-size: 24px
    margin-bottom: 30px

  .prime__title
    text-align: center
    font-size: 68px
    line-height: 78px
  .prime__text
    margin-bottom: 0
  .reverse
      flex-direction: column-reverse

  .first-step
    .content_left
      margin-right: 0
    .content_right
      margin-top: 60px
  .first-step__image
    margin-top: 0
    
  .second-step
    .content_left
      margin-top: 60px
  .second-step__image
    top: 0
    
  .third-step
    .content_left
      margin: 0 0 60px
    .content_right
      margin: 60px 0
      .text_color
        text-align: center
  .third-step__image
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 20px
    
  .constructor a
    width: 300px
  .constructor__text_color
    font-size: 24px
    line-height: 28px
  .content_top
      width: 90%
  .content_bottom
    flex-direction: column
  .txt__phone 
    display: flex
    .text
      font-size: 32px
      line-height: 36px
  .txt_screen
    display: none
  .image__phone
    display: flex
    -webkit-justify-content: center
    justify-content: center