* 
	margin: 0
	padding: 0

html 
	font-size: 18px

body 
	font-family: "PT Sans", sans-serif
 
.landing 
	min-width: 0
	overflow: hidden
	
	.container
		max-width: 1070px
		width: 100%
		padding-left: 20px
		padding-right: 20px
		margin-left: auto
		font-size: inherit
		margin-right: auto

.blue 
	color: #26A9E0
.box__header 
	background: #fefefe

.box__column-left 
	width: 620px

