* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  font-family: "PT Sans", sans-serif; }

a {
  text-decoration: none; }

.box_bg {
  background: rgba(38, 169, 224, 0.05); }

.circles {
  position: relative; }

.circle-1 {
  position: absolute;
  top: 375px; }

.circle-2 {
  position: absolute;
  top: 60px;
  left: 100px; }

.circle-4 {
  position: absolute;
  top: 325px; }

.circle-5 {
  position: absolute;
  top: -350px;
  right: -730px; }

.circle-6 {
  position: absolute;
  top: 250px; }

.circle-7 {
  position: absolute;
  top: 95px;
  right: 0; }

.circle-8 {
  position: absolute;
  top: 730px;
  right: 0; }

.circle-9 {
  position: absolute;
  top: 140px;
  right: 0; }

.circle-10 {
  position: absolute;
  top: 585px;
  right: 150px; }

.circle-11 {
  position: absolute;
  top: -70px;
  left: 0; }

.container {
  max-width: 1260px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  font-size: inherit;
  margin-right: auto; }

.blue {
  color: #26A9E0; }

.title {
  font-weight: bold;
  font-size: 48px;
  text-align: left; }

.text {
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 40px; }

.text_accent {
  font-weight: bold; }

.text_gray {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.button {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #74489D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  -webkit-box-shadow: 2px 10px 66px -9px #74489D;
  box-shadow: 2px 10px 66px -9px #74489D; }
  .button:hover {
    opacity: 0.9; }

.header {
  background: #26A9E0;
  color: #ffffff; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .header .logo {
    margin: 20px 40px 20px 0; }
  .header .menu {
    list-style: none;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px; }
  .header .menu-item {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px; }
  .header .menu a {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .menu a:hover {
    opacity: 1; }
  .header .active a {
    opacity: 1; }

.box__prime .content {
  margin: 140px 0 320px; }

.box__prime .content_left {
  width: 620px;
  margin-right: 70px;
  position: relative; }

.box__prime .title {
  width: 560px;
  font-size: 72px;
  line-height: 73px;
  margin-bottom: 40px; }

.box__prime .text {
  padding-right: 10px;
  margin-bottom: 85px; }

.box__prime .text_gray {
  font-size: 24px;
  margin-bottom: 40px; }

.box__prime .content_right {
  position: relative; }

.box__prime .image {
  position: absolute;
  top: -600px;
  z-index: -1; }

.box__prime .button {
  width: 250px;
  height: 80px; }

.box__first-step .content {
  margin: 70px 0 0; }

.box__first-step .content_left {
  margin-right: 100px; }

.box__first-step .content_right {
  width: 600px; }

.box__first-step .title {
  margin-bottom: 40px; }

.box__first-step .text {
  width: 460px; }

.box__second-step .content {
  margin: 215px 0 240px; }

.box__second-step .content_left {
  width: 460px;
  margin-right: 80px; }

.box__second-step .content_right {
  position: relative; }

.box__second-step .image {
  position: absolute;
  top: -450px;
  z-index: -1; }

.box__third-step {
  position: relative; }
  .box__third-step .content_left {
    margin-right: 155px; }
  .box__third-step .text {
    width: 500px; }
  .box__third-step .image {
    margin-bottom: 40px; }

.box__constructor {
  position: relative; }
  .box__constructor .content {
    margin: 90px 0; }
  .box__constructor .content_left {
    width: 500px;
    margin-right: 135px; }
  .box__constructor .title {
    margin-bottom: 40px; }
  .box__constructor .image {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .box__constructor .image a {
      text-decoration: underline;
      width: 220px; }
      .box__constructor .image a:hover {
        text-decoration: none; }
    .box__constructor .image img {
      margin-right: 20px; }
  .box__constructor .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .box__constructor .text_gray {
    line-height: 19px; }

@media (max-width: 1850px) {
  .circle-8, .circle-7 {
    display: none; } }

@media (max-width: 1550px) {
  .circle-1, .circle-2, .circle-9, .circle-11 {
    display: none; } }
