* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-size: 18px; }

body {
  font-family: "PT Sans", sans-serif; }

a {
  text-decoration: none; }

.box {
  width: 100%;
  min-width: 940px;
  overflow: hidden; }

.box_bg {
  background: rgba(38, 169, 224, 0.05); }

.circle-1 {
  position: absolute;
  top: 11%; }

.circle-6 {
  position: absolute;
  top: 73%;
  right: 10%; }

.circle-3 {
  position: absolute;
  top: 71%;
  z-index: 2; }

.circle-2 {
  position: absolute;
  top: 75%;
  left: 60%;
  z-index: 2; }

.circle-4 {
  position: absolute;
  right: 0; }

.circle-7 {
  position: absolute;
  top: 17%;
  left: 10%; }

.circle-5 {
  position: absolute;
  top: -30%;
  left: 0; }

.container {
  max-width: 1260px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  font-size: inherit; }

.blue {
  color: #26A9E0; }

.title {
  font-weight: bold;
  font-size: 48px;
  text-align: left;
  margin-bottom: 40px; }

.text {
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 40px; }

.text_accent {
  font-weight: bold; }

.text_color {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.content_left {
  position: relative;
  width: 48%; }

.content_right {
  position: relative;
  width: 48%; }

.box_bg .content_left {
  margin-right: 100px; }

.image {
  width: 100%; }

.button {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #74489D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  -webkit-box-shadow: 2px 10px 66px -9px #74489D;
  box-shadow: 2px 10px 66px -9px #74489D; }
  .button:hover {
    opacity: 0.9; }

.header {
  background: #26A9E0;
  color: #ffffff; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }

.logo {
  margin: 20px 40px 20px 0; }

.menu {
  list-style: none;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu-item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px; }

.menu-item:last-child {
  margin-right: 0; }

.menu a {
  color: inherit;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu a:hover {
  opacity: 1; }

.active a {
  opacity: 1; }

.box__prime .title {
  font-size: 72px;
  line-height: 73px; }

.box__prime .text {
  padding-right: 10px;
  margin-bottom: 85px; }

.box__prime .text_color {
  font-size: 24px;
  margin-bottom: 40px; }

.box__prime .img_box {
  position: relative;
  top: -70px;
  z-index: -1; }

.box__prime .button {
  width: 250px;
  height: 80px; }

.box__first-step .image {
  margin-top: 170px; }

.box__second-step {
  position: relative; }
  .box__second-step .image {
    position: relative;
    top: -70px;
    z-index: -1; }

.box__third-step {
  position: relative; }
  .box__third-step .content_left {
    margin: 117px 100px 117px 0; }

.box__constructor {
  position: relative; }
  .box__constructor .content {
    margin: 90px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .box__constructor .content_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .box__constructor .img_container {
    position: relative;
    width: 560px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden; }
  .box__constructor .image {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden; }
  .box__constructor a {
    text-decoration: underline;
    width: 220px; }
    .box__constructor a:hover {
      text-decoration: none; }
  .box__constructor img {
    display: block; }
  .box__constructor .controller_line {
    width: 518px;
    left: 25px;
    top: 19px; }
  .box__constructor .controller {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: ew-resize; }
  .box__constructor .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .box__constructor .text_color {
    line-height: 19px;
    text-align: center; }

@media (max-width: 1550px) {
  .circle-1, .circle-6, .circle-4, .circle-5, img.circle-7 {
    display: none; } }
